/* Reset / base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: serif;
    background-color: #FFF9F3;
    color: #1B1B1B;
    padding: 2rem 8rem;
    line-height: 1.2;
  }
  
  /* Header */
  header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    margin-bottom: 12rem;
  }
  
  .header-left {
    font-size: clamp(1rem, 3vw, 1.2rem);
  }
  
  .header-right a {
    font-size: clamp(1rem, 3vw, 1.2rem);
    margin-left: 1rem;
    text-decoration: underline;
    color: inherit;
  }
  
  .header-right a:hover {
    text-decoration: none;
  }
  
  /* Main text */
  main {
    max-width: 1200px;
  }
  
  main h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin-bottom: 1rem;
  }
  
  main p {
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin-bottom: 1rem;
  }
  
  /* Responsivt */
  @media (max-width: 800px) {
    body {
      padding: 2rem 6rem;
      line-height: 1.2;
    }
  }

  @media (max-width: 600px) {
    body {
      padding: 2rem 4rem;
      line-height: 1.2;
    }
  }

  @media (max-width: 400px) {
    header {
      padding-top: 1rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  
    .header-right a {
      margin-left: 0;
      margin-right: 1rem;
    }

    body {
      padding: 2rem 2rem;
      line-height: 1.2;
    }
  }
  